<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktualizuj dane</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<form method="POST" class="post-form" action="/update/{{person.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Aktualizuj dane</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Imię:</label>
    <div class="col-sm-4">
        <input type="text" name="pfirst_name" id="id_pfirst_name" required maxlength="50" value="{{ person.pfirst_name }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nazwisko:</label>
    <div class="col-sm-4">
        <input type="text" name="plast_name" id="id_plast_name" required maxlength="50" value="{{ person.plast_name }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Telefon:</label>
    <div class="col-sm-4">
        <input type="text" name="pphone_number" id="id_pphone_number" required maxlength="50" value="{{ person.pphone_number }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Email:</label>
    <div class="col-sm-4">
        <input type="email" name="pemail" id="id_pemail" required maxlength="254" value="{{ person.pemail }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-success">Aktualizuj</button>
    </div>
  </div>
    </div>
</form>
</body>
</html>
